<aside class="sidebar">
    <div class="sidebar-container">
        <div class="header-block">
            <div class="brand">
                Бухгалтерия
            </div>
        </div>
        <nav class="menu">
            <ul class="nav">
                <li routerLinkActive="active">
                    <a [routerLink]="['/system','bill']"><img src="../../assets/img/bill.png" alt="bill" width="15px" height="15px" style="margin-right: 5px;"> Счёт</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system','history']"><img src="../../assets/img/history.png" alt="history" width="15px" height="15px"> История</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system','planning']"><img src="../../assets/img/planning.png" alt="planning" width="15px" height="15px"> Планирование</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system','records']"><img src="../../assets/img/records.png" alt="records" width="15px" height="15px" > Записать</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
